<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="Csv" version="1.0.31" targetFramework="net472" />
  <package id="FluentFTP" version="19.2.2" targetFramework="net472" />
  <package id="Lextm.SharpSnmpLib" version="10.0.9" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="Zebra.Printer.SDK" version="2.15.2634" targetFramework="net472" />
</packages>